/*primary color #41b2e2 */
/*primary color dark 1 #3b9dc7 */
/*primary color dark 2 #3386aa */

/*secondary color #f21d5b*/
/*secondary color dark 1 #e31b55*/
/*secondary color dark 2 #d0184d*/
/*footer black #2d2d2d*/

/*general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #222;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #222;
}

section {
  padding: 35px 0;
}



img {
   image-rendering: optimizeQuality;

}

.section-gray {
  background-color: #f8f7f7;
}


p {
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: center;
  font-weight: 400;
}

.primary-button {
  background-color: #41b2e2;
  color: #fff;
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
  padding: 15px;
  border-radius: 5%;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: #3b9dc7;
}

.primary-button:active {
  background-color: #3386aa;
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);

}


a:hover,
a:active {

}

/*nav*/

nav {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99999;
  margin: 30px;
}

.row {
  margin: 0 auto;
  max-width: 1140px
}

header .row {
  width: 100%;
}

nav ul {
  margin-top: 10px;
}

ul {
  margin: 0;
  float: right;
  list-style: none;
}

li {
  margin-left: 30px;
  display: inline-block;
  font-size: 17px;
}


/*hero*/

/*secondary color #f21d5b*/
/*secondary color dark 1 #e31b55*/
/*secondary color dark 2 #d0184d*/

.slider-buttons {
  position: absolute;
    color: #fff;
    top: 75%;
    left: 50%;
    margin: 0;
    padding: 0;
    z-index: 1000;
    text-align: left;
    transform: translateX(-50%) translateY(calc(-50%));
}

.slider-buttons .nav-dot {
  display: inline-block;
  background: #fff;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.slider-buttons .nav-dot.active {
  background: #c61749;
}

.slider-buttons .nav-dot:active {
  background: #d1194e
}


.slider-buttons .nav-dot:hover {
  background: #f21d5b
}
.hero-button {
  background-color: #f21d5b;
  color: rgba(249, 247, 247, 0.83);
  padding: 10px;
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
  border-radius: 2%;
  width: 100px;
}

.hero-button:hover {
  background-color: #e31b55;
}

.hero-button:active {
  background-color: #d0184d;
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);
}

.hero-text-container {
  position: absolute;
  color: #fff;
  bottom: 24em;
  left: 13.5em;
  width: 80%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  text-align: left;
}

.hero-text-container p,
.hero-text-container a {
  color: rgba(249, 247, 247, 0.83);
  text-align: left;
  padding-left: 45px;
}

.hero-text-container h1 {
  color: rgba(255, 255, 255, 0.88);
  text-align: left;
  padding-left: 30px;
}

.section-hero-1,
.section-hero-2,
.section-hero-3 {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 600px;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}

/*can't tell if elegant or hack*/
/*basically the divs are hiddene until the matching section hero comes around */

.section-hero-1-text h1,
.section-hero-1-text p,
.section-hero-1-text a,
.section-hero-2-text h1,
.section-hero-2-text p,
.section-hero-2-text a,
.section-hero-3-text h1,
.section-hero-3-text p,
.section-hero-3-text a {
  opacity: 0;
  display: none;
  transition: opacity 0.2s;
}


.section-hero-1 .section-hero-1-text h1,
.section-hero-1 .section-hero-1-text p,
.section-hero-1 .section-hero-1-text a,
.section-hero-2 .section-hero-2-text h1,
.section-hero-2 .section-hero-2-text p,
.section-hero-2 .section-hero-2-text a,
.section-hero-3 .section-hero-3-text h1,
.section-hero-3 .section-hero-3-text p,
.section-hero-3 .section-hero-3-text a {
  opacity: 1;
  display: block;
}

 /*.hero-text-container  .section-hero-1-text p,
 .hero-text-container .section-hero-1-text h1,
 .hero-text-container .section-hero-1-text a,
.section-hero-2-text p,
.section-hero-2-text h1,
.section-hero-2-text a,
.section-hero-3-text p,
.section-hero-3-text h1,
.section-hero-3-text a {
  opacity: 0;
  transition: opacity 0.2s;
  display: none;
}*/

/*.section-hero-1 .hero-text-container .section-hero-1-text p,
.section-hero-1 .hero-text-container .section-hero-1-text h1,
.section-hero-1 .hero-text-container .section-hero-1-text a,
.section-hero-2 .section-hero-2-text p,
.section-hero-2 .section-hero-2-text h1,
.section-hero-2 .section-hero-2-text a,
.section-hero-3 .section-hero-3-text p,
.section-hero-3 .section-hero-3-text h1
.section-hero-3 .section-hero-3-text a, {
  opacity: 1;
  display: block;
}*/

.section-hero-1 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-1.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-1.jpg)
}

.section-hero-2 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-2.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-2.jpg)
}

.section-hero-3 {
  background-image: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-3.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-3.jpg)
}

/*mainbody*/

.section-students img,
.section-nonprofits img {
  box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
}

.section-students p,
.section-nonprofits p {
  text-align: left;
}

/*footer*/

footer{
  background-color: #2d2d2d;
  height: 230px;
  box-shadow: inset 0 10px 10px -5px #0d1116;


}
